
.prev-div{
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 8px;
    display: flex;
    justify-content: flex-start;
    width: 50%}
.next-div{
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: flex-end;
    width: 50%;}
.prev-button{
    box-shadow: rgb(167, 205, 241) 3px 3px 10px;
    width: 150px;
}
.next-button{
    width: 150px;
    box-shadow: rgb(167, 205, 241) 3px 3px 10px;
}