.add-button-div{
    width: 2%;
}

.add-button{
    color: cornflowerblue;
}
.add-button:hover{
    opacity: 0.6;
}
tr, th, td, .dataTable{
    border:  rgb(94, 89, 89);
    border-style: solid;
    border-width: thin;
    border-collapse: collapse;
    
    font-size: 13.5pt;
}

.dataTable{
    
    width: 98%;
    color: rgb(94, 89, 89);
}
.item{
width: 5%;
}
.date{
width: 15%;
}
.particulars{
width: 50%;
}
.amount{
width: 15%;
}
.tax{
width: 15%;
}
.all-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.cost-items{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
thead{
    color: #13395e;
    font-weight: bold;
  }
.table-button{
    display: flex;
    flex-direction: row;
    width: 85%;
}

/* New Item Styles */
.new-item-form{
    width: 300px;
    display: flex;
    flex-direction: column;
}
.new-item-date-label{

}
.new-item-date-field{
border-top: none;
border-left: none;
border-right: none;
border-bottom: rgb(145, 122, 94);
border-bottom-width: 1px;
border-bottom-style: solid;
height: 40px;
font-size: 12pt;
margin-bottom: 2em;
}
.new-item-particulars-label{

}
.new-item-particulars-field{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 40px;
    font-size: 12pt;
    margin-bottom: 2em;
}
.new-item-amount-label{

}
.new-item-amount-field{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 40px;
    font-size: 12pt;
    margin-bottom: 2em;
}
.new-item-tax-label{

}
.new-item-tax-field{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 40px;
    font-size: 12pt;
    margin-bottom: 2em;
}

.save-parts{
    height: 40px;
    width: 150px;
    font-size: 20pt;
    border-radius: 8px;
    margin-top: 2em;
    }
.save-parts:hover{
        opacity: 0.9;
        transform: scale(1.2);
    }