.add-button-div{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.add-button{
    border-radius: 5px;
    border-width: 1px;
    height: 35px;
    width: 80px;
}
.add-button:hover{
    opacity: 0.6;
}
tr, th, td{
    border: 1px solid rgb(200, 198, 194);
    border-collapse: collapse;
}
table{
    width: 100%;
    border: 1px solid rgb(200, 198, 194);
    border-collapse: collapse;
  
}
.data-row{color: darkgray;}
.item{
width: 5%;
}
.date{
width: 15%;
}
.particulars{
width: 50%;
}
.amount{
width: 15%;
}
.tax{
width: 15%;
}
  .cost-items{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  thead{
    color: #04203A;
    font-weight: bold;
  }