.add-button-div{
    width: 5%;
}

.add-button{
    border-radius: 50px;
    border-width: 1px;
    height: 35px;
}
.add-button:hover{
    opacity: 0.6;
}
tr, th, td{
    border: 1px solid rgb(167, 205, 241);
    border-collapse: collapse;
}
.dataTable{
    
    width: 95%;
    margin-left: 2em;
    color: rgb(94, 89, 89);
    border: 1px solid rgb(167, 205, 241);
    border-collapse: collapse;
    box-shadow: rgb(167, 205, 241) 3px 3px 10px; 
}
.item{
width: 5%;
}
.date{
width: 15%;
}
.particulars{
width: 50%;
}
.amount{
width: 15%;
}
.tax{
width: 15%;
}
.cost-items{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
thead{
    color: #0762b6;
    font-weight: bold;
  }
.items-contens{
    display: flex;
    flex-direction: row;
    width: 95%;
}

/* New Item Styles */
.new-item-form{
    width: 300px;
    display: flex;
    flex-direction: column;
}
.new-item-date-label{

}
.new-item-date-field{
border-top: none;
border-left: none;
border-right: none;
border-bottom: rgb(145, 122, 94);
border-bottom-width: 1px;
border-bottom-style: solid;
height: 40px;
font-size: 12pt;
margin-bottom: 2em;
}
.new-item-particulars-label{

}
.new-item-particulars-field{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 40px;
    font-size: 12pt;
    margin-bottom: 2em;
}
.new-item-amount-label{

}
.new-item-amount-field{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 40px;
    font-size: 12pt;
    margin-bottom: 2em;
}
.new-item-tax-label{

}
.new-item-tax-field{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 40px;
    font-size: 12pt;
    margin-bottom: 2em;
}