.summary{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;}
.taxation-label{margin-left: 1em; }
.suit-label{margin-left: 1em;}
.plaintiff-label{margin-left: 1em;}
.defendant-label{margin-left: 1em;}
.location-label{margin-left: 1em;}
.date-label{margin-left: 1em;}
.court-label{margin-left: 1em;}
.division-label{margin-left: 1em;}
.suit-year-label{margin-left: 1em;}
.taxation-year-label{margin-left: 1em;}
.taxation-field{
    border: rgb(145, 122, 94);
    margin-bottom: 1em;
    margin-top: 1em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 25px;
    margin-left:1em;
    width: 40%;}
.taxation-year{
    margin-bottom: 1em;
    margin-top: 1em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-left: 1em;
    height: 25px;
    width: 40%;}
.suit-field{
    margin-bottom: 1em;
    margin-top: 1em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 25px;
    margin-left:1em;
    width: 40%;}
.suit-year{
    margin-bottom: 1em;
    margin-top: 1em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-left: 1em;
    height: 25px;   
    width: 40%; }
.plaintiff-field{
    margin-bottom: 1em;
    margin-top: 1em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 50px;
    margin-left:1em;
    font-family: sans-serif;
    width: 40%;}
.defendant-field{
    margin-bottom: 1em;
    margin-top: 1em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-left:1em;
    height: 50px;
    font-family: sans-serif;
    width: 40%;}
.location-field{
    margin-bottom: 1em;
    margin-top: 1em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-left:1em;
    height: 25px;
    width: 40%;}
.date-picker{
    color: cadetblue;
    margin-bottom: 1em;
    margin-top: 1em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-left: 1em;
    height: 25px;
    width: 40%}
.dated-div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px;}
.defendant-div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px;}
.plaintiff-div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px;}
.suit-div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px;}
.taxation-div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px;}
.tab-panel{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 300px;
    padding: 5px;}
.court-div{
    margin-left: 1em;
    margin-bottom: 1em;
    width: 40%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.division-div{
    margin-left: 1em;
    margin-bottom: 1em;
    width: 40%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}