.summary{
    height: 100%;
    width: 100%;}
.taxation-label{}
.suit-label{}
.plaintiff-label{}
.defendant-label{}
.location-label{}
.date-label{}
.court-label{}
.division-label{}
.suit-year-label{}
.taxation-year-label{}
.taxation-field{
    border: rgb(145, 122, 94);
    margin-bottom: 1em;
    margin-top: 1em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 25px;
    width: 100%;}
.taxation-year{
    margin-bottom: 1em;
    margin-top: 1em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 25px;
    width: 100%;}
.suit-field{
    margin-bottom: 1em;
    margin-top: 1em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 25px;
    width: 100%;}
.suit-year{
    margin-bottom: 1em;
    margin-top: 1em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 25px;   
    width: 100%; }
.plaintiff-field{
    margin-bottom: 1em;
    margin-top: 1em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 50px;
    font-family: sans-serif;
    width: 100%;}
.defendant-field{
    margin-bottom: 1em;
    margin-top: 1em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 50px;
    font-family: sans-serif;
    width: 100%;}
.location-field{
    margin-bottom: 1em;
    margin-top: 1em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 25px;
    width: 100%;}
.date-picker{
    color: cadetblue;
    margin-bottom: 1em;
    margin-top: 1em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 25px;
    width: 100%}
.dated-div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 40%;
    }
.defendant-div{
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    }
.plaintiff-div{
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    }
.suit-div{
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    }
.taxation-div{
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
   }
.tab-panel{
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 300px;
    padding: 5px;}
.court-div{
    width: 40%;
    margin-bottom: 1em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.division-div{
    margin-bottom: 1em;
    width: 40%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: rgb(145, 122, 94);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.summary-component{display: flex;
flex-direction: column;
align-items: center;}