
.finish{
    height: 560px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;}
    .save-button{
        background-color: rgb(215, 129, 21);
        height: 60px;
        width: 150px;
        font-size: 20pt;
        border: darkgray;
        border-style: solid;
        border-width: 1px;
        color: aliceblue;
        border-radius: 5px;
        box-shadow: darkgray 20px 20px 20px;
        font-size: medium;}
        .save-button:hover{
            opacity: 0.9;
            transform: scale(1.2);
        }
        