.add-button-div{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.add-button{
    border-radius: 5px;
    border-width: 1px;
    height: 35px;
    width: 80px;
}
.add-button:hover{
    opacity: 0.6;
}
table, tr, th, td{
    border: 1px solid rgb(200, 198, 194);
    border-collapse: collapse;
}
table{
    width: 100%;
}
.data-row{color: darkgray;}
.item{
width: 5%;
}
.date{
width: 15%;
}
.particulars{
width: 50%;
}
.amount{
width: 15%;
}
.tax{
width: 15%;
}
.finish{
    background-color: cornflowerblue;
    height: 560px;
    width: 100%;
  }
  .summary{
    height: 560px;
    width: 100%;
  }
  .cost-items{
    height: 560px;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
  }
  .disbursements{
    height: 560px;
    width: 100%;
  }
  thead{
    color: brown;
    font-weight: bold;
  }