.list-item{border-left: none;
border-right: none;
border-top: none;
border-bottom: rgb(208, 197, 184);
border-bottom-width: 0.5px;
border-bottom-style: solid;}
.list-item:hover{background-color: lightslategray;}
.list{   
    width: 100%;  
}
.list-div{
    display: flex;
    justify-content: center;
    width: 90%;
}
.edit-icon{
color: cornflowerblue;
margin-right: 1em;
}
.delete-icon{
    color: red;
}
.typography{
    width: 100%;
    background-color: rgb(208, 197, 184);
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 50px;
    color: white;
}