.App {
  
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a7a7a7;
  height: 100vh;
  width: 100vw;
  margin: auto;
}
.login{
  font-weight: bold;
  font-size: 26px;
  color: #950018;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
.login-panel{
  background: whitesmoke;
  /* height: 600px; */
  width: 400px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #826b6f;
}
.login-logo{
  background-color: #950018;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.username-section{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding-top: 50px;
}

.password-section{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.button-section{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.username-field{
  font-size: 13pt;
  border-radius: 4px;
  border: #999;
  border-style: solid;
  border-width: thin;
}
.password-field{
  font-size: 13pt;
  border-radius: 4px;
  border-bottom: #999;
  border-style: solid;
  border-width: thin;
  }
.login-button{

}
.account-options{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.sign-up-label{
padding-right: 40px;
}
.forgot-password-label{
  padding-left: 40px;
}
