.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background: grey;
  height: 100vh;
  width: 100vw;
  margin: auto;}
.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(123, 123, 123);
  height: 100vh;
  width: 100vw;
  margin: auto;}
.login{
  font-weight: bold;
  font-size: 26px;
  color: rgb(215, 129, 21);
  font-family: Verdana, Geneva, Tahoma, sans-serif;}
.login-panel{
  background: whitesmoke;
  height: 600px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgb(70, 70, 70);}
.login-logo{
  background-color: rgb(215, 129, 21);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;}
.username-section{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding-top: 50px;}
.password-section{
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;}
.button-section{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding-top: 30px;}
.username-field{
  text-align: center;
  width: 200px;
  height: 40px;
  font-size: 10pt;
  font-weight: bolder;
  border-radius: 15px;
  border-style: none;}
.password-field{
  text-align: center;
  width: 200px;
  height: 40px;
  font-size: 10pt;
  font-weight: bolder;
  border-radius: 15px;
  border-style: none;}
.login-button{
  width: 150px;
  height: 35px;
  font-size: 10pt;
  border-radius: 50px;
  border-style: none;
  color: white;
  font-weight: bolder;
  background-color: #04203A;
  opacity: 1;
  transition: 10ms;}
.login-button:hover{
  opacity: 0.6;}
.account-options{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;}
.sign-up-label{
padding-right: 40px;
font-size: 11px;}
.forgot-password-label{
  font-size: 11px;
  padding-left: 40px;}
.system-name{
  color: white;}
.home-plate{
  display: flex;
  flex-direction: row;
  height: max-content;
  width: 96vw;
  background-color: rgb(123, 123, 123);
  box-shadow: 10px 10px 20px rgb(70, 70, 70);
  border-radius: 5px;
  overflow-y: auto;}
.left-panel{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  width: 21%;
  border-radius: 5px;
  /* background-color: #950018; */
  background-color: #04203A;
  border: white;
  border-width: 1px; 
  border-style: solid;
  /* border-radius: 10px; */} 
.system-title{
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  height: 10%;
  border-bottom: white;
  border-width: 1px; 
  border-bottom-style: solid; }
.logo-div{
  width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 15%;
    border-top: white;
    border-top-width: 1px; 
    border-top-style: solid; }
.logo{   
    height: 100%;
    width: 80;}
.schedules-list{
  height: 90vh;
  /* width: 100%; */
  overflow-y: auto;
  overflow-x: auto;
  color:black;
  font-size: 18px;}
.tree-item{
  /* width: 100%; */
  /* border: 0.1px solid white; */
  word-wrap: break-word;}
.boc-form-panel{
  display: flex;
  flex-direction: column;
  width: 78%;
  height: 90vh;
  background-color: rgb(255, 255, 255);
  border-width: 1px; 
  border-radius: 5px;}
.create-button-panel{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 90vh;
  background-color: white;}
.profile-panel{
  width: 10%;
  height: 90vh;
  background-color: rgb(39, 42, 51);
  padding-top: 15px;
  display: flex;
  justify-content: center;}
.divider-div{
  height: 100%;
  width: 1%;
  background-color: rgb(123, 123, 123); }
.divider2{
    height: 75%;}
.new-bill-button{
  width: 150px;
  height: 150px;
  font-size: 14pt;
  border-style: none;
  border-radius: 100px;
  opacity: 1;
  transition: 0.3s;
  font-weight: bold;
  background-color: coral;
  color: rgb(39, 42, 51);;}
.new-bill-button:hover{
  opacity: 0.8;
  background-color: rgb(158, 183, 252);
color: white;}
.options-panel{
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 100%;
  background-color: rgb(215, 129, 21) ;
  border-width: 1px; 
  border-style: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;}
.new-bill-icon{
  transition: all .3s ease-in-out;
  border: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  height: 60px;
  width: 60px;}
.new-bill-icon:hover{
    -webkit-box-shadow: 0 0 8px #fff;
    box-shadow: 0 0 8px #fff;
    cursor: grabbing;
    opacity: 0.6;
    transform: scale(1.4);}
.draft-icon{
  transition: all .3s ease-in-out;
  height: 60px;
  width: 60px;
  border: white;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;}
.draft-icon:hover{
    -webkit-box-shadow: 0 0 8px #fff;
    box-shadow: 0 0 8px #fff;
    cursor: grabbing;
    opacity: 0.6;
    transform: scale(1.4);}
.archive-icon{
  transition: all .3s ease-in-out;
  border: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  height: 60px;
  width: 60px;}.archive-icon:hover{
    -webkit-box-shadow: 0 0 8px #fff;
    box-shadow: 0 0 8px #fff;
    opacity: 0.6;
    cursor: grabbing;
    transform: scale(1.4);}
.profile-icon{
  border: white;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  height: 60px;
  transition: all .3s ease-in-out; 
  width: 60px;}.profile-icon:hover{
    -webkit-box-shadow: 0 0 8px #fff;
    box-shadow: 0 0 8px #fff;
    opacity: 0.6;
    cursor: grabbing;
    transform: scale(1.4);}
.new-bill-label{
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: white;}
.draft-label{
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: white;}
.archive-label{
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: white;}
.profile-label{
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: white;}